@charset "UTF-8";

header {
    background-color: rgb(240, 171, 213);
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-align: center;
    margin: 0%;
}

nav {
    background-color: rgb(212, 149, 241);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: left;
}

nav > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
}

section {
    background-color: rgb(253, 203, 253);
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    
}

                                                  